
    <form>
      <div class="form-group">
        <label>Advantage:</label>
        <input id="advantage" name="advantage" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Disdvantage:</label>
        <input id="disadvantage" name="disadvantage" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Boost:</label>
        <input id="boost" name="boost" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Specialties:</label>
        <input id="specialties" name="specialties" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Other Bonuses:</label>
        <input id="other" name="other" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Target Number:</label>
        <input id="tn" name="tn" type="text" value="0" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Notes:</label>
        <input id="notes" name="notes" type="text" value="" data-dtype="String"/>
      </div>
    </form>