<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class=flexrow>

        <div class="flexcol">
          <div class="baseinfo flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
              width="100" />
            <div class="info-text flexcol">
              <h2 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
              </h2>
              <h2>
                <input name="handle" type="text" value="{{data.handle}}" placeholder="Handle" />
              </h2>
              <h2>
                <input name="pronouns" type="text" value="{{data.pronouns}}" placeholder="Pronouns" />
              </h2>
            </div>
          </div>
          <div class="resources flexrow">
            <div class="resource flex-group-center">
              <label for="data.burden.value" class="resource-label">Burden</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.burden.value" value="{{data.health.value}}" data-dtype="Number" />
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="data.cash.value" class="resource-label">Cash</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.cash.value" value="{{data.cash.value}}" data-dtype="Number" />
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="data.prep.value" class="resource-label">Prep</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.prep.value" value="{{data.prep.value}}" data-dtype="Number" />
              </div>
            </div>
          </div>
        </div>

        <div class="abilities flexcol">
          {{#each data.abilities as |ability key|}}
          <div class="ability flexrow flex-group-center">
            <label for="data.abilities.{{key}}.value" class="resource-label ability-button rollable"
              data-roll="2d6+@abilities.{{key}}.value" data-label="{{key}}"> {{key}}: </label>
            <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
            <label> Defense: </label>
            <input type="text" name="data.abilities.{{key}}.baseDefense" value="{{ability.baseDefense}}"
              data-dtype="Number" />
          </div>
          {{/each}}
        </div>

        <div class="harm flexcol">
          <div>
            <input class="harmbox" type="checkbox" id="harm1" name="data.harm.minor.one" value="data.harm.minor.one">
            <label for="harm1">Minor Injury</label>
          </div>
          <div>
            <input class="harmbox" type="checkbox" id="harm2" name="data.harm.minor.two" value="data.harm.minor.two">
            <label for="harm2">Minor Injury</label>
          </div>
          <div>
            <input class="harmbox" type="checkbox" id="harm3" name="data.harm.harm.one" value="data.harm.harm.one">
            <label for="harm3">Harm (-1)</label>
          </div>
          <div>
            <input class="harmbox" type="checkbox" id="harm4" name="data.harm.harm.one" value="data.harm.harm.two">
            <label for="harm4">Harm (-1)</label>
          </div>
          <div>
            <input class="harmbox" type="checkbox" id="harm5" name="data.harm.serious.one" value="data.harm.serious.one">
            <label for="harm5">Serious Injury (-1d)</label>
          </div>
          <div>
            <input class="harmbox" type="checkbox" id="harm6" name="data.harm.incapacitated.one" value="data.harm.incapacitated.one">
            <label for="harm6">Incapacitated</label>
          </div>
        </div>
      </div>
        <input name="goal" type="text" value="{{data.goal}}" placeholder="Goal">
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="specialties">Specialties</a>
    <a class="item" data-tab="occupation">Occupation</a>
    <a class="item" data-tab="assets">Assets</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Specialties Tab --}}
    <div class="tab specialties" data-group="primary" data-tab="specialties">
      <ol class="specialties-list">
        <li class="specialty flexrow item-header">
          <div class="specialty-name">Name</div>
          <div class="specialty-controls">
            <a class="specialty-control specialty-create" title="Create Specialty" data-type="specialty"><i class="fas fa-plus"></i> Add
              specialty</a>
          </div>
        </li>
        {{#each actor.gear as |item id|}}
        <li class="specialty flexrow" data-item-id="{{specialty._id}}">
          <h4 class="specialty-name">{{specialty.name}}</h4>
          <div class="specialty-controls">
            <a class="specialty-control specialty-edit" title="Edit Specialty"><i class="fas fa-edit"></i></a>
            <a class="specialty-control specialty-delete" title="Delete Specialty"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Occupation Tab --}}
    <div class="tab occupation" data-group="primary" data-tab="occupation">
      <ol class="talent-list">
        <li class="talent flexrow item-header">
          <div class="talent-image"></div>
          <div class="talent-name">Name</div>
          <div class="talent-controls">
            <a class="talent-control talent-create" title="Create talent" data-type="feature"><i class="fas fa-plus"></i> Add
              item</a>
          </div>
        </li>
        {{#each actor.features as |item id|}}
        <li class="talent flexrow" data-item-id="{{talent._id}}">
          <div class="talent-image"><img src="{{talent.img}}" title="{{talent.name}}" width="24" height="24" /></div>
          <h4 class="talent-name">{{item.name}}</h4>
          <div class="talent-controls">
            <a class="talent-control talent-edit" title="Edit Talent"><i class="fas fa-edit"></i></a>
            <a class="talent-control talent-delete" title="Delete Talent"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Assets Tab --}}
    <div class="tab assets" data-group="primary" data-tab="assets">
      <ol class="assets-list">
        <li class="asset flexrow asset-header">
          <div class="asset-image"></div>
          <div class="asset-name">Name</div>
          <div class="asset-controls">
            <a class="asset-control asset-create" title="Create asset" data-type="asset"><i class="fas fa-plus"></i> Add
              asset</a>
          </div>
        </li>
        {{#each actor.assets as |asset id|}}
        <li class="asset flexrow" data-asset-id="{{asset._id}}">
          <div class="asset-image"><img src="{{asset.img}}" title="{{asset.name}}" width="24" height="24" /></div>
          <h4 class="asset-name">{{asset.name}}</h4>
          <div class="asset-controls">
            <a class="asset-control asset-edit" title="Edit Asset"><i class="fas fa-edit"></i></a>
            <a class="asset-control asset-delete" title="Delete Asset"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>