<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class=flexrow>
        <div class="baseinfo flexcol">
          <div class="flexrow">
            <div class="personalia flexcol">
              <div class="flexrow">
                <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100" />
                <div class="info-text flexcol">
                  <h2 class="charname flexrow">
                    <label for="name" class="name-label">Name:</label>
                    <input name="name" type="text" value="{{name}}" placeholder="Name" data-dtype="String" />
                  </h2>
                  <h2 class="flexrow">
                    <label for="data.handle" class="handle-label">Handle:</label>
                    <input name="data.handle" type="text" value="{{data.handle}}" placeholder="Handle"
                      data-dtype="String" />
                  </h2>
                  <h2 class="flexrow">
                    <label for="data.pronouns" class="pronouns-label">Pronouns:</label>
                    <input name="data.pronouns" type="text" value="{{data.pronouns}}" placeholder="Pronouns"
                      data-dtype="String" />
                  </h2>
                </div>
              </div>
              <div>
                <h2 class="origin item flexrow" data-item-id="{{data.origin._id}}">
                  <label for="data.origin.name" class="origin-label">Origin:</label>
                  {{#if data.origin}}
                  <input name="data.origin.name" type="text" value="{{data.origin.name}}" placeholder="Origin"
                    data-dtype="String" readonly />
                  <a class="origin-control item-edit" style="flex: 0.1" title="Edit Origin"><i
                      class="fas fa-edit"></i></a>
                  {{else}}
                  <input class="item-create" name="data.origin.name" type="text" value="{{data.origin.name}}"
                    placeholder="Origin" data-dtype="String" data-type="origin" />
                  {{/if}}
                </h2>
                <h2 class="occupation flexrow">
                  <label for="data.occupation" class="occupation-label">Occupation:</label>
                  <input name="data.occupation" type="text" value="{{data.occupation}}" placeholder="Occupation"
                    data-dtype="String" />
                </h2>
                <h2 class="gigapp item flexrow" data-item-id="{{data.gigapp._id}}">
                  <label for="data.gigapp.name" class="gigapp-label">Gigapp:</label>
                  {{#if data.gigapp}}
                  <input name="data.gigapp.name" type="text" value="{{data.gigapp.name}}" placeholder="Gigapp"
                    data-dtype="String" readonly />
                  <a class="gigapp-control item-edit" style="flex: 0.1" title="Edit Origin"><i
                      class="fas fa-edit"></i></a>
                  {{else}}
                  <input class="item-create" name="data.gigapp.name" type="text" value="{{data.gigapp.name}}"
                    placeholder="Gigapp" data-dtype="String" data-type="gigapp" />
                  {{/if}}
                </h2>
              </div>
              <div class="resources flexrow">
                <div class="resource flex-group-center">
                  <label for="data.burden.value" class="resource-label">Burden</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.attributes.burden.value" value="{{data.attributes.burden.value}}"
                      data-dtype="Number" />
                  </div>
                </div>
                <div class="resource flex-group-center">
                  <label for="data.cash.value" class="resource-label">Cash</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.attributes.cash.value" value="{{data.attributes.cash.value}}"
                      data-dtype="Number" />
                  </div>
                </div>
                <div class="resource flex-group-center">
                  <label for="data.prep.value" class="resource-label">Prep</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.attributes.prep.value" value="{{data.attributes.prep.value}}"
                      data-dtype="Number" />
                  </div>
                </div>
              </div>
            </div>

            <div class="abilities flexcol">
              {{#each data.abilities as |ability key|}}
              <div class="ability flexrow flex-group-center">
                <div>
                  <label for="data.abilities.{{key}}.value" class="resource-label ability-button rollable"
                    data-roll-attribute={{ability}} data-label="{{key}}"> {{key}}: </label>
                  <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}"
                    data-dtype="Number" />
                </div>
                <div>
                  <label> Defense: </label>
                  <input type="text" name="data.abilities.{{key}}.baseDefense" value="{{ability.baseDefense}}"
                    data-dtype="Number" readonly />
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="goaldiv flexcol">
            <label for="data.goal" class="goal-label">Goal:</label>
            <input name="data.goal" type="text" value="{{data.goal}}" placeholder="Goal" data-dtype="String">
          </div>
        </div>
        <div class="harm-xp flexcol">
          <div class="harm flexcol">
            <label class="harm-label">Harm:</label>
            <div>
              <input class="harmbox" type="checkbox" id="harm1" name="data.harm.minor.one" {{checked
                data.harm.minor.one}}>
              <label for="harm1">Minor Injury</label>
            </div>
            <div>
              <input class="harmbox" type="checkbox" id="harm2" name="data.harm.minor.two" {{checked
                data.harm.minor.two}}>
              <label for="harm2">Minor Injury</label>
            </div>
            <div>
              <input class="harmbox" type="checkbox" id="harm3" name="data.harm.harm.one" {{checked
                data.harm.harm.one}}>
              <label for="harm3">Harm (-1)</label>
            </div>
            <div>
              <input class="harmbox" type="checkbox" id="harm4" name="data.harm.harm.two" {{checked
                data.harm.harm.two}}>
              <label for="harm4">Harm (-1)</label>
            </div>
            <div>
              <input class="harmbox" type="checkbox" id="harm5" name="data.harm.serious.one" {{checked
                data.harm.serious.one}}>
              <label for="harm5">Serious Injury (-1d)</label>
            </div>
            <div>
              <input class="harmbox" type="checkbox" id="harm6" name="data.harm.incapacitated.one" {{checked
                data.harm.incapacitated.one}}>
              <label for="harm6">Incapacitated</label>
            </div>
            <div class="flexrow">
              <h2 class="level-experience flexcol">
                <label for="data.level" class="level-label">Level:</label>
                <input name="data.level" type="text" value="{{data.level}}" placeholder="1" data-dtype="Number" />
                <label for="data.experience" class="experience-label">Experience:</label>
                <input name="data.experience" type="text" value="{{data.experience}}" placeholder="0"
                  data-dtype="Number" />
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="specialties">Specialties</a>
    <a class="item" data-tab="occupation">Occupation</a>
    <a class="item" data-tab="assets">Assets</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Specialties Tab --}}
    <div class="tab specialties" data-group="primary" data-tab="specialties">
      <ol class="specialties-list">
        <li class="item flexrow item-header">
          <div class="specialty-name">Name</div>
          <div class="specialty-value">Value</div>
          <div class="specialty-controls">
            <a class="specialty-control specialty-create" title="Create Specialty" data-type="specialty"><i
                class="fas fa-plus"></i> Add
              specialty</a>
          </div>
        </li>
        <ul class="items-list">
          {{#each data.specialties as |specialty id|}}
          <li class="specialty flexrow" data-specialty-name="{{specialty.key}}">
            <div class="specialty-name">
              <label>{{specialty.key}}</label>
              <a class="specialty-control specialty-edit" title="Edit Specialty"><i class="fas fa-edit"></i></a>
              <input class="rename-field" type="text" value="{{specialty.key}}" data-dtype="Text" style="display: none;" />
              <a class="specialty-control specialty-rename" title="Rename Specialty" style="display: none;"><i class="fas fa-check"></i></a>
            </div>
            <div class="specialty-value">
              <a class="specialty-control specialty-decrease" title="Increase Specialty"><i
                  class="fas fa-minus"></i></a>
              {{specialty.value}}
              <a class="specialty-control specialty-increase" title="Increase Specialty"><i class="fas fa-plus"></i></a>
            </div>
            <div class="specialty-controls">
              <a class="specialty-control specialty-delete" title="Delete Specialty"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </ol>
    </div>

    {{!-- Occupation Tab --}}
    <div class="tab occupation" data-group="primary" data-tab="occupation">
      <ol class="talent-list">
        <li class="item flexrow talent-header">
          <div class="talent-image"></div>
          <div class="talent-name">Name</div>
          <div class="talent-controls">
            <a class="talent-control item-create" title="Create talent" data-type="talent"><i class="fas fa-plus"></i>
              Add
              talent</a>
          </div>
        </li>
        <ul class="items-list">
          {{#each data.talents as |talent id|}}
          <li class="item flexrow" data-item-id="{{talent._id}}">
            <div class="talent-image"><img src="{{talent.img}}" title="{{talent.name}}" width="24" height="24" /></div>
            <div class="talent-name">{{talent.name}}</div>
            <div class="talent-controls">
              <a class="talent-control item-edit" title="Edit Talent"><i class="fas fa-edit"></i></a>
              <a class="talent-control item-delete" title="Delete Talent"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </ol>
    </div>

    {{!-- Assets Tab --}}
    <div class="tab assets" data-group="primary" data-tab="assets">
      <ul class="assets-list">
        <li class="item flexrow asset-header">
          <div class="asset-image"></div>
          <div class="asset-name">Name</div>
          <div class="asset-cost">Cost</div>
          <div class="asset-tags">Tags</div>
          <div class="asset-controls">
            <a class="asset-control item-create" title="Create asset" data-type="asset"><i class="fas fa-plus"></i> Add
              asset</a>
          </div>
        </li>
        <ul class="items-list">
          {{#each data.assets as |asset id|}}
          <li class="item flexrow" data-item-id="{{asset._id}}">
            <div class="asset-image"><img src="{{asset.img}}" title="{{asset.name}}" width="24" height="24" /></div>
            <div class="asset-name">{{asset.name}}</div>
            <div class="asset-cost">{{asset.data.cost}}</div>
            <div class="asset-tags">{{asset.data.tags}}</div>
            <div class="asset-controls">
              <a class="asset-control item-edit" title="Edit Asset"><i class="fas fa-edit"></i></a>
              <a class="asset-control item-delete" title="Delete Asset"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </ul>
      <ol class="augmentations-list">
        <li class="item flexrow asset-header">
          <div class="augmentation-image"></div>
          <div class="augmentation-name">Name</div>
          <div class="augmentation-cost">Cost</div>
          <div class="augmentation-tags">Tags</div>
          <div class="augmentation-controls">
            <a class="augmentation-control item-create" title="Create augmentation" data-type="augmentation"><i
                class="fas fa-plus"></i> Add
              augmentation</a>
          </div>
        </li>
        <ul class="items-list">
          {{#each data.augmentations as |augmentation id|}}
          <li class="item flexrow" data-item-id="{{augmentation._id}}">
            <div class="augmentation-image"><img src="{{augmentation.img}}" title="{{augmentation.name}}" width="24"
                height="24" /></div>
            <div class="augmentation-name">{{augmentation.name}}</div>
            <div class="augmentation-cost">{{augmentation.data.cost}}</div>
            <div class="augmentation-tags">{{augmentation.data.tags}}</div>
            <div class="augmentation-controls">
              <a class="augmentation-control item-edit" title="Edit Augmentation"><i class="fas fa-edit"></i></a>
              <a class="augmentation-control item-delete" title="Delete Augmentation"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </ol>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{editor content=data.notes target="data.notes" button=true owner=owner editable=true}}
    </div>

  </section>
</form>