<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{this.terms}}</span>

                        <span class="part-total"></span>
                    </header>
                    <ol class="dice-rolls">
                        {{#each rolls}}
                        {{#if this.discarded}}
                        <li class="roll die d6 discarded">{{{this.result}}}</li>
                        {{else}}
                        <li class="roll die d6">{{{this.result}}}</li>
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>

        <h4 class="dice-total">{{total}}</h4>

    </div>
</div>