<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">2d6 + 0</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">2d6</span>

                        <span class="part-total">12</span>
                    </header>
                    <ol class="dice-rolls">
                        <li class="roll die d6 max">6</li>
                        <li class="roll die d6 max">6</li>
                    </ol>
                </div>
            </section>
        </div>

        <h4 class="dice-total">12</h4>
    </div>
</div>